.seat {
    cursor: pointer;
}
.nav {
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    padding: 10px;
}

.nav a {
    text-decoration: none;
}

table {
    margin: 0 auto;
}

.info {
    margin: 0 auto;
    text-align: center;
}

.buy-button{
    float: right;

}

button {
    width: 100px;
    border-radius: 10px;
    height: 30px;
    margin-top: 200px;
    margin-right: 50px;
}