body {
    background-color: rgba(189,189,189,0.5);
    margin: 0;
    padding: 0;
}

.header{
    padding: 5px;
    background-color:rgba(0,188,212,0.5);
    text-align: center;
}
.seat {
    padding: 5px;
    border-radius: 10px;
}
.nav {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: rgba(0,188,212,0.5);
    color: white;
}

.nav a {
    text-decoration: none;
}

table {
    margin: 0 auto;
    padding-top: 30px;
}

.info {
    margin: 0 auto;
    width: 250px;
    text-align: left;
    color: #424242;
}

.operations{
    text-align: center;
    padding: 30px;
    position: fixed;
    right: 0;
}

button {
    width: 150px;
    border-radius: 20px;
    height: 50px;
    margin: 20px;
    background: #FF4081;
    color: white;
    font-size: 110%;
    cursor: pointer;
    outline: none;
    display: block;
}

.color-info{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;
}

.operations p {
    display: flex;
    align-items: center;
}

